@import "../../Assets/Styles/_mixins.scss";
@import "../../Assets/Styles/_partials.scss";
.half_container {
  max-width: 50%;
  background-color: white;
  min-height: 100vh;
  margin-left: auto;
  text-align: center;
  padding-bottom: 20px;
}

.childContainer {
  min-height: 80vh;
  @include HorizontalAndVerticalCenter;
  flex-direction: column;
  .icon {
    color: #808080;
    font-size: 45px;
    margin: 40px auto;
  }
  .requestText {
    font-style: normal;
    font-weight: 600;
    font-size: 26.4px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
  }
  .para {
    font-style: normal;
    font-weight: normal;
    font-size: 16.8px;
    line-height: 20px;
    text-align: center;
    color: #808080;
    margin-bottom: 20px;
  }
  .MoreInfo {
    font-style: normal;
    font-weight: normal;
    font-size: 16.8px;
    line-height: 20px;
    text-align: center;
    color: #2f80ed;
    margin-top: 5px;
    margin-bottom: 30px;
  }
}

.secondary_button {
  @include defaultButton(#f2f2f2);
  color: black;
  font-weight: 600;
  font-size: 19.2px;
  line-height: 23px;
  padding: 15px 45px !important;
  margin: 10px;
}

.primary_button {
  @include defaultButton($primary__color);
  color: white;
  font-weight: 600;
  font-size: 19.2px;
  line-height: 23px;
  padding: 15px 45px !important;
  margin: 10px;
  text-decoration: none;
  border: none;
  &:hover{
    color: white;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.textField {
  margin: 15px auto;
  min-width: 370px;
}

@media screen and (max-width: 800px) {
  .half_container {
    position: absolute;
    top: 100vh;
    max-width: 100%;
    min-height: 100vh;
    margin-left: 0;
    right: 0;
    left: 0;
  }
}
