@import "../../../Assets/Styles/mixins";
@import "../../../Assets/Styles/partials";


.menu__wrapper{
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    width: 100%;
    position:fixed;
    bottom:0px;
    left:0px;
    z-index: 1040;
    padding: 25px 10px;
    .menu__button{
        display:flex;
        justify-content:center;
        align-items: center;
        // width: 50%;
        // margin: auto;
        a,button{
            border: none;
            background-color:transparent;
            margin: 0px 50px;
            svg{
                color: black;
                font-size: 24px;
            }
            img{
                width: 24px;
            }
            &:focus{
                outline: none;
            }
        }
        .active{
            svg{
                color: $primary__color !important;
            }
            img{
                filter: invert(52%) sepia(36%) saturate(6733%) hue-rotate(198deg) brightness(94%) contrast(97%);
            }
        }
    }

}
.menu__nft__overlay{
    
    button{
        padding: 10px 40px;
        background-color: transparent;
        border:none;
        color: white;
        display:flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        // font-size: 19.2px;
        // justify-content: space-between;
        width: 100%;
        span{
            color:white;
            
            img{
                width: 20px;
            }
            padding-right: 50px;
        }
        &:focus{
            outline: none;
        }
    }
}