.connection__modal .modal__header h2 {
  font-size: 24px;
  text-transform: capitalize;
}

.connection__modal .btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px;
  margin-top: 10px;
}

.connection__modal .btn__wrapper .next__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  width: 100%;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.connection__modal .btn__wrapper .next__btn:focus {
  outline: none;
}

.connection__modal .btn__wrapper .next__btn span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connection__modal .btn__wrapper .next__btn span svg {
  height: 100%;
}

.confirm__btn {
  background-color: #2f80ed;
  color: white;
}

.cancel__btn {
  color: #000000;
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  .connection__modal .modal__body__wrapper {
    margin: auto;
    padding: 20px 10px;
  }
  .connection__modal .modal__body__wrapper .name__wrapper span {
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
  .settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc .personal__settings h6 {
    max-width: 250px;
  }
}

