.settings__header__top {
  background: white;
  padding: 15px 0px;
}

.settings__header__top .backArrow {
  position: absolute;
  left: 5px;
}

.settings__header__top .backArrow button {
  background-color: transparent;
  border: none;
}

.settings__header__top .backArrow button:focus {
  outline: none;
}

.settings__header__top .backArrow button svg {
  color: #2f80ed;
  font-size: 22px;
}

.settings__header__top h1 {
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 0px;
}

.settings__wrapper .settings__acc__wrapper {
  margin: 50px 0px;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner {
  margin-bottom: 20px;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner h5 {
  color: #808080;
  margin-bottom: 0px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  padding: 25px 22px;
  cursor: pointer;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc .settings__name__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc .settings__name__info img {
  margin-right: 13px;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc .settings__name__info h6 {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 16px;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc .personal__settings p {
  margin-bottom: 0px;
  color: #808080;
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 5px;
  position: relative;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc .personal__settings h6 {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 16px;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc button {
  border: none;
  background-color: transparent;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc button:focus {
  outline: none;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc button svg {
  color: #808080;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc .settings__acc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.settings__wrapper .settings__acc__wrapper .settings__acc__inner .settings__acc .settings__acc__content:nth-last-child(1) {
  margin-bottom: 0px;
}

.connection__modal .modal__header h2 {
  font-size: 24px;
}

.connection__modal .modal__body__wrapper {
  margin: 25px 40px 40px 40px;
}

.connection__modal .modal__body__wrapper .name__wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1.2px solid #DEDEDE;
}

.connection__modal .modal__body__wrapper .name__wrapper h6 {
  font-weight: 600;
  font-size: 19.2px;
}

.connection__modal .modal__body__wrapper .name__wrapper .checked {
  background: #2f80ed;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection__modal .modal__body__wrapper .name__wrapper .checked svg {
  color: white;
}

.connection__modal .modal__body__wrapper .name__wrapper:nth-last-child(1) {
  padding-bottom: 0px;
  border: none;
}

.connection__modal .btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px;
  margin-top: 40px;
}

.connection__modal .btn__wrapper .next__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background-color: #2f80ed;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  width: 100%;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.connection__modal .btn__wrapper .next__btn:focus {
  outline: none;
}

.connection__modal .btn__wrapper .next__btn span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connection__modal .btn__wrapper .next__btn span svg {
  height: 100%;
}

.defaultAuthenticMethod{
  font-size: 22px;
  position: absolute;
  right: 14px;
  top: -2px;
  color: #03a9f4;
  font-weight: 600;
}
.verficationContainer, .verficationContainerEndText{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verficationContainer p{
  color: #808080;
}
.verficationContainerEndText .link, .modalSubtitle span{
  color: #39C0BA;
  font-weight: 500;
}
.verficationContainerEndText{
  padding-top: 40px;
  padding-bottom: 40px
}
.verficationContainerEndText p{
  margin: 0px;
}
.modalSubtitle{
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #808080;
}
.modalSubtitle span{
  color: #2f80ed;
  font-weight: 400;
}
.authPopupBtnContainer button{
  width: 86%;
  margin: 0px auto;
}
@media only screen and (max-width: 767px) {
  .connection__modal .modal__body__wrapper {
    margin: auto;
    padding: 20px 10px;
  }
  .connection__modal .modal__body__wrapper .name__wrapper h6 {
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}



.contact-country-select{
  width: 100%;
  margin-bottom: 14px !important;
  height: 42px;
}
/*# sourceMappingURL=settings.module.css.map */