.half_container {
  max-width: 50%;
  background: #ffffff;
  min-height: 100vh;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background-color: #2f80ed;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  color: #828282;
  margin: 0px 5px;
}

.button:focus {
  outline: none;
}

.button span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button span svg {
  height: 100%;
}

.button:focus {
  outline: none;
}

.secondary {
  background-color: white !important;
  color: #828282 !important;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0px;
  min-width: 60%;
}

.mainContainer p {
  text-align: center;
  font-weight: lighter;
  color: #565656;
}

.mainContainer p span {
  color: #2f80ed;
  cursor: pointer;
}

.mainContainer hr {
  width: 90%;
  border: 1px solid #e3e3e3;
}

.mainContainer .link {
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16.8px;
  color: #000000;
}

.button {
  margin: 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background-color: #2f80ed;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}

.button:focus {
  outline: none;
}

.button span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button span svg {
  height: 100%;
}

.secondaryColor {
  background-color: #bdbdbd;
}

.primaryColor {
  background-color: #2f80ed;
}

.active {
  color: #4f4f4f !important;
  background-color: #f2f2f2 !important;
}
.home_page_text {
  font-size: 16px;
  padding: 30px;
  text-align: center;
  color: #565656;
  max-width: 60%;
}
.button:disabled{
  background-color: #bdbdbd;
}
@media screen and (max-width: 800px) {
  .mainContainer {
    padding: 0px;
  }
  .half_container {
    position: absolute;
    top: 47vh;
    max-width: 100%;
    min-height: 56vh;
    margin-left: 0;
    right: 0;
    left: 0;
  }
  .mainContainer .link {
    margin-top: 9px;
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 768px) {
  .home_page_text {
    max-width: 100%;
    padding: 20px;
  }
}
/*# sourceMappingURL=index.module.css.map */