@import "../../../Assets/Styles/_mixins.scss";
@import "../../../Assets/Styles/_partials.scss";
.mainContainer {
    display: flex;
    justify-content: space-between;
    .leftSide{
        flex: 0.5;
    }
    .rightSide{
        flex: 0.5;
    }
}