@import "./mixins";
@import "./partials";


.file__wrapper{
    border: 1.2px dashed #808080;
    padding: 50px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7.2px;
    align-items: center;
    margin:0px 30px;
        .filepond--file-wrapper{
            width: 150px;
            &::-webkit-file-upload-button {
                visibility: hidden;
            }
            &:hover{
                &::before {
                    border-color: black;
                }
            }
            &:active{
                ::before {
                    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
                }
            }
            &::before {
                content: 'Choose Files';
                display: inline-block;
                color: #323232;
                font-weight: 600;
                font-size: 16px;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11)), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                border: 1.2px solid #C4C4C4;;
                border-radius: 9.6px;
                padding: 10px;
                outline: none;
                white-space: nowrap;
                cursor: pointer;
                text-shadow: 1px 1px #fff;
              }
        }
        .file__upload__wrapper{
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11)), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
            border: 1.2px solid #C4C4C4;
            padding:10px 25px;
            width: fit-content;
            border-radius: 9.6px;
            text-align:center;
            label{
                cursor: pointer;
                font-weight: 600;
                font-size: 17px;
                color: #323232;
                
            }
        }
        
        p{
            text-align: center;
            padding-top: 22px;
            font-weight: normal;
            font-size: 15.6px;
            margin-bottom: 0px;
            color: #808080;
        }
        
}

.uploaded__file{
    margin: 10px 30px;
    display:flex;
    justify-content: center;
    img{
        width:50%;
    }
}

@media only screen and (max-width: 767px) {
    .uploaded__file img {
      width: auto;
      max-height: 150px;
      max-width: 100%;
      box-shadow: 0 0 3px 0px;
    }
}