@media only screen and (max-width: 500px) {
  .modal__body__wrapper .form__group .form__group__inner input {
    width: 100%;
    margin-bottom: 5px;
  }
  .modal__body__wrapper .form__group .form__group__inner input:nth-child(odd) {
    margin-right: 5px;
  }
  .modal__body__wrapper .form__group .form__group__inner input:nth-child(even) {
    margin-left: 5px;
  }
  .modal__body__wrapper .form__group .form__group__inner .remove__btn {
    right: 55px !important;
  }
}

.initial__nft__modal button:focus {
  outline: none;
}

.initial__nft__modal .modal__header__wrapper {
  border-bottom: none !important;
}

.initial__nft__modal .modal__header__wrapper .modal__header {
  border: none;
}

.initial__nft__modal .modal__header__wrapper .modal__header h2 {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 0px;
}

.initial__nft__modal .progress div {
  height: 0.2rem;
}

.initial__nft__modal .modal__header__bottom {
  padding-bottom: 0px !important;
}

.initial__nft__modal .modal__body__top {
  padding-top: 0px !important;
}

.initial__nft__modal .modal__body__top .modal__body__wrapper {
  margin-top: 0px !important;
}

.initial__nft__modal .modal__body__wrapper {
  margin: 100px 0px;
}

.initial__nft__modal .modal__body__wrapper h3 {
  font-weight: bold;
  font-size: 16.8px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  text-align: center;
}

.initial__nft__modal .next__btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 15px 0px;
}

.initial__nft__modal .next__btn__wrapper .next__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  background-color: #2f80ed;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}

.initial__nft__modal .next__btn__wrapper .next__btn:focus {
  outline: none;
}

.initial__nft__modal .next__btn__wrapper .next__btn span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.initial__nft__modal .next__btn__wrapper .next__btn span svg {
  height: 100%;
}

.initial__nft__modal .next__btn__wrapper .back__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  background-color: #2f80ed;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}

.initial__nft__modal .next__btn__wrapper .back__btn:focus {
  outline: none;
}

.initial__nft__modal .next__btn__wrapper .back__btn span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.initial__nft__modal .next__btn__wrapper .back__btn span svg {
  height: 100%;
}

.initial__nft__modal .multiple__btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 15px 0px;
}

.initial__nft__modal .multiple__btn__wrapper .next__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  background-color: #2f80ed;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}

.initial__nft__modal .multiple__btn__wrapper .next__btn:focus {
  outline: none;
}

.initial__nft__modal .multiple__btn__wrapper .next__btn span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.initial__nft__modal .multiple__btn__wrapper .next__btn span svg {
  height: 100%;
}

.initial__nft__modal .multiple__btn__wrapper .back__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  background-color: #2f80ed;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}

.initial__nft__modal .multiple__btn__wrapper .back__btn:focus {
  outline: none;
}

.initial__nft__modal .multiple__btn__wrapper .back__btn span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.initial__nft__modal .multiple__btn__wrapper .back__btn span svg {
  height: 100%;
}

.initial__nft__modal .multiple__btn__wrapper .back__btn span {
  padding-right: 10px;
  padding-left: 0px !important;
}

.initial__nft__modal .last__modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.initial__nft__modal .last__modal__btn .next__btn {
  width: 100%;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.nft__form__modal .modal__body__wrapper {
  margin: 25px 0px !important;
}

.nft__form__modal .modal__body__wrapper h6 {
  font-weight: normal;
  font-size: 19.2px;
  padding-bottom: 20px;
  color: #808080;
  text-align: center;
}

.nft__form__modal .modal__body__wrapper form .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 15px;
}

.nft__form__modal .modal__body__wrapper form .form__group label {
  color: #808080;
  font-weight: normal;
  font-size: 14.4px;
  padding-bottom: 12px;
  margin-bottom: 0px;
}

.nft__form__modal .modal__body__wrapper form .form__group input,
.nft__form__modal .modal__body__wrapper form .form__group textarea,
.nft__form__modal .modal__body__wrapper form .form__group select {
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.03);
  border: 1.2px solid #cfcfcf;
  border-radius: 7.2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nft__form__modal .modal__body__wrapper form .form__group input:focus,
.nft__form__modal .modal__body__wrapper form .form__group textarea:focus,
.nft__form__modal .modal__body__wrapper form .form__group select:focus {
  outline: none;
  border: 2.4px solid #2f80ed;
}

.nft__form__modal .modal__body__wrapper form .form__group select {
  width: 250px;
  font-weight: 600;
  font-size: 16.8px;
  border: none !important;
}

.nft__form__modal .modal__body__wrapper form .form__group .form__group__inner {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nft__form__modal
  .modal__body__wrapper
  form
  .form__group
  .form__group__inner
  .remove__btn {
  background-color: #f0f1f3;
  padding: 7px;
  color: #818c99;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: 25px;
  margin-top: 13px;
  width: 28px;
  height: 28px;
  border: none;
}

.nft__form__modal
  .modal__body__wrapper
  form
  .form__group
  .form__group__inner
  .remove__btn:focus {
  outline: none;
}

.nft__form__modal .modal__body__wrapper form .form__group .addFieldsBtn {
  background-color: transparent;
  border: none;
  color: #2f80ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nft__form__modal .modal__body__wrapper form .form__group .addFieldsBtn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.nft__form__modal .modal__body__wrapper .mynft__box {
  -webkit-box-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 10px;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__image__wrapper {
  position: relative;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__image__wrapper
  .mynft__box__image
  img {
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__image__wrapper
  .mynft__box__cat {
  position: absolute;
  left: 20px;
  top: 15px;
  background-color: #fff;
  border-radius: 10px;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__image__wrapper
  .mynft__box__cat
  h6 {
  font-size: 16.8px;
  font-weight: 600;
  padding: 6px 10px;
  margin-bottom: 0px;
  color: black !important;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__description__wrapper {
  padding: 25px 20px;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__description__wrapper
  h2 {
  font-size: 19.2px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__description__wrapper
  p {
  font-size: 16.8px;
  color: #808080;
  font-weight: normal;
  margin-bottom: 0px;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__description__wrapper
  .mynft__box__profile__info {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__description__wrapper
  .mynft__box__profile__info
  .details__profile__picture {
  background-image: url("../../../Assets/Images/placeholder.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-color: white;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-right: 10px;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__description__wrapper
  .mynft__box__profile__info
  .details__user__info
  p {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 14.4px;
  color: #808080;
  padding-bottom: 2px;
}

.nft__form__modal
  .modal__body__wrapper
  .mynft__box
  .mynft__box__description__wrapper
  .mynft__box__profile__info
  .details__user__info
  h6 {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 16.8px;
  color: black;
  padding-bottom: 0px;
}

.nft__form__modal .modal__body__wrapper .mint__info__wrapper .mint__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nft__form__modal .modal__body__wrapper .mint__info__wrapper .mint__image img {
  width: 50%;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px;
}

.nft__form__modal .modal__body__wrapper .mint__info__wrapper h1 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.nft__form__modal .modal__body__wrapper .mint__info__wrapper h6 {
  font-size: 16.8px;
}

@media screen and (max-width: 767px) {
  .nft__mobile__modal {
    background: #fff;
  }
}
/*# sourceMappingURL=createNft.module.css.map */
/*
Author : Rohit Yadav
Class to disable the dropdown
*/
.form__category__dropdown {
  -webkit-appearance: none;
  appearance: none;
}
