@import "../../../Assets/Styles/partials";
@import "../../../Assets/Styles/mixins";

@media only screen and (max-width: 500px) {
  .modal__body__wrapper {
    .form__group {
      .form__group__inner {
        input {
          width: 100%;
          margin-bottom: 5px;
        }
        input:nth-child(odd) {
          margin-right: 5px;
        }
        input:nth-child(even) {
          margin-left: 5px;
        }
        .remove__btn {
          right: 55px !important;
        }
      }
    }
  }
}

.initial__nft__modal {
  button {
    &:focus {
      outline: none;
    }
  }
  .modal__header__wrapper {
    border-bottom: none !important;
    .modal__header {
      border: none;
      h2 {
        font-weight: 600;
        font-size: 21px;
        margin-bottom: 0px;
      }
    }
  }
  .progress {
    div {
      height: 0.2rem;
    }
  }
  .modal__header__bottom {
    padding-bottom: 0px !important;
  }
  .modal__body__top {
    padding-top: 0px !important;
    .modal__body__wrapper {
      margin-top: 0px !important;
    }
  }
  .modal__body__wrapper {
    margin: 100px 0px;
    h3 {
      font-weight: bold;
      font-size: 16.8px;
      margin-bottom: 0px;
      padding-bottom: 10px;
      text-align: center;
    }
  }
  .next__btn__wrapper {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    .next__btn {
      @include defaultButton($primary__color);
    }
    .back__btn {
      @include defaultButton($primary__color);
    }
  }
  .multiple__btn__wrapper {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
    .next__btn {
      @include defaultButton($primary__color);
    }
    .back__btn {
      @include defaultButton($primary__color);
      span {
        padding-right: 10px;
        padding-left: 0px !important;
      }
    }
  }
  .last__modal__btn {
    display: flex;
    .next__btn {
      width: 100%;
      justify-content: center !important;
    }
  }
}

.nft__form__modal {
  .modal__body__wrapper {
    margin: 25px 0px !important;
    h6 {
      font-weight: normal;
      font-size: 19.2px;
      padding-bottom: 20px;
      color: #808080;
      text-align: center;
    }
    form {
      .form__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        label {
          color: #808080;
          font-weight: normal;
          font-size: 14.4px;
          padding-bottom: 12px;
          margin-bottom: 0px;
        }
        input,
        textarea,
        select {
          padding: 15px 20px;
          background: rgba(0, 0, 0, 0.03);
          border: 1.2px solid #cfcfcf;
          border-radius: 7.2px;
          transition: 0.4s;
          &:focus {
            outline: none;
            border: 2.4px solid $primary__color;
          }
        }
        select {
          width: 250px;
          font-weight: 600;
          font-size: 16.8px;
          border: none !important;
        }
        .form__group__inner {
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          .remove__btn {
            background-color: #f0f1f3;
            padding: 7px;
            color: #818c99;
            font-size: 10px;
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            right: 25px;
            margin-top: 13px;
            width: 28px;
            height: 28px;
            border: none;
            &:focus {
              outline: none;
            }
          }
        }
        .addFieldsBtn {
          background-color: transparent;
          border: none;
          color: $primary__color;
          display: flex;
          align-items: center;
          width: fit-content;
          span {
            display: flex;
            padding-right: 10px;
          }
        }
      }
    }
    .mynft__box {
      box-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      background-color: #fff;
      margin-bottom: 10px;
      .mynft__box__image__wrapper {
        position: relative;
        .mynft__box__image {
          img {
            width: 100%;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
          }
        }
        .mynft__box__cat {
          position: absolute;
          left: 20px;
          top: 15px;
          background-color: #fff;
          border-radius: 10px;
          h6 {
            font-size: 16.8px;
            font-weight: 600;
            padding: 6px 10px;
            margin-bottom: 0px;
            color: black !important;
          }
        }
      }
      .mynft__box__description__wrapper {
        padding: 25px 20px;
        h2 {
          font-size: 19.2px;
          margin-bottom: 0px;
          padding-bottom: 5px;
          padding-top: 10px;
        }
        p {
          font-size: 16.8px;
          color: #808080;
          font-weight: normal;
          margin-bottom: 0px;
        }
        .mynft__box__profile__info {
          margin-top: 15px;
          display: flex;
          align-items: center;
          .details__profile__picture {
            background-image: url("../../../Assets/Images/placeholder.png");
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center top;
            background-color: white;
            border-radius: 50%;
            height: 48px;
            width: 48px;
            margin-right: 10px;
          }
          .details__user__info {
            p {
              margin-bottom: 0px;
              font-weight: normal;
              font-size: 14.4px;
              color: #808080;
              padding-bottom: 2px;
            }
            h6 {
              margin-bottom: 0px;
              font-weight: 600;
              font-size: 16.8px;
              color: black;
              padding-bottom: 0px;
            }
          }
        }
      }
    }
    .mint__info__wrapper {
      .mint__image {
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        img {
          width: 50%;
          border-radius: 25px;
          box-shadow: 0px 0px 5px 0px;
        }
      }
      h1 {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
      }
      h6 {
        font-size: 16.8px;
      }
    }
  }
}

// Author : Rohit Yadav
// Class to disable the dropdown

.form__category__dropdown {
  -webkit-appearance: none;
  appearance: none;
}
